.game-square {
  height: 98%;
  width: 98%;
  line-height: 0.85;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 15px;
  box-shadow: 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: inline;
  margin: 0px;
  font-size: 4rem;
  overflow: hidden;
  color: #606f7b;
  font-family: sans-serif;
}

.noClick {
  pointer-events: none;
}
