<div class="board">
  <section>
    <p class="winner" *ngIf="board.winner != null">{{ board.winner }}</p>
    <div
      class="container square"
      *ngFor="let square of board.squares; let i = index"
    >
      <app-square
        [board]="board"
        [square]="square"
        [squareIndex]="i"
        [gameIsRunning]="board.gameIsRunning"
        (gameIsRunningEmitter)="board.gameIsRunning = $event"
        (verifyIfBoardIndexIsRunning)="emitBoardIndex($event)"
        border-blue
      >
      </app-square>
    </div>
  </section>
</div>
