section {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  flex: 0 0 32%;
}

.square {
  height: 4rem;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.winner {
  position: absolute;
  font-size: 12rem;
  color: white;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}
